@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body,
h1,
h2,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-size: 16px;
}

p {
  line-height: 1.6;
}

h1 {
  font-weight: 700;
  text-align: center;
}

h3 {
  font-style: italic;
}

.more-toolbar {
  margin-top: 10px;
}

.more {
  margin-top: 3px
}

.more:last-child {
  margin-bottom: 0px;
}

.more p {
  font-weight: 350;
}

.p {
  text-align: center;
}

table {
  color: #fff !important;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #567cee;
}

table>* {
  color: white !important;
}

th,
td {
  color: white !important;
  font-weight: 600 !important;
}

.footer {
  max-width: 600px;
  margin: 0 auto;
}

.footer h2 {
  display: inline-block;
  width: 50%;
}

li {
  list-style: none;
}